conninfo.localhost {
	reverse_proxy localhost:6543
}

postcode.localhost {
	reverse_proxy localhost:6432
}

webhooks.localhost {
	reverse_proxy localhost:6321
}

closures.localhost {
	reverse_proxy localhost:6210
}

timesheets.localhost {
	reverse_proxy localhost:7654
}

events.localhost {
	reverse_proxy localhost:7543
}
